<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="myApp" ng-controller="articlesController">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Search articles by ID</legend>
                        <input type="text" ng-model="show_article_num" class="form-control" />
                        <br>
                        <button ng-click="getSingleArticle()">Submit</button>
                    </fieldset>

                    <fieldset>
                        <legend>Create new article</legend>
                        <input type="text" ng-model="article.title" class="form-control" placeholder="title" />
                        <br>
                        <input type="text" ng-model="article.intro" class="form-control" placeholder="intro" />
                        <br>
                        <input type="text" ng-model="article.content" class="form-control" placeholder="content" />
                        <br>
                        <input type="text" ng-model="article.authorid" class="form-control" placeholder="author id" />
                        <br>
                        <button ng-click="createArticle()">Submit</button>
                    </fieldset>


                    <div articles-directive></div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>