<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
    </head>
    <body ng-app="myApp">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div ng-controller="myTabs">
                        <ul class="list">
                            <li ng-click="switchTabs('home')"><a href="">Home</a></li>
                            <li ng-click="switchTabs('css')"><a href="">CSS</a></li>
                            <li ng-click="switchTabs('js')"><a href="">JS</a></li>
                            <li ng-click="switchTabs('html')"><a href="">HTML</a></li>
                        </ul>

                        <fieldset>
                            <legend>{{tabName}}</legend>
                            <div ng-include="'templates/' + tab.name + '.html'">No content loaded yet...</div>
                        </fieldset>
                    </div>
                </div>


                <div class="col-sm-6">
                    <ul>
                        <li><input type="radio" value="home" ng-model="showTabs">Home</li>
                        <li><input type="radio" value="css" ng-model="showTabs">CSS</li>
                        <li><input type="radio" value="js" ng-model="showTabs">JS</li>
                        <li><input type="radio" value="html" ng-model="showTabs">HTML</li>
                    </ul>
                    <article ng-show="showTabs"> <div ng-include="'/templates/'+ showTabs +'.html'"></div> </article>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="js/libs/angular.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>