<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AngularJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app>

        <label for="showForm">
            Show avatar form
            <input type="checkbox" value="true" ng-model="showForm">
        </label>

        <form action="" ng-show="showForm">
            <fieldset>
                <legend>Name</legend>
                <input type="text" ng-model="name" />
            </fieldset>

            <fieldset>
                <legend>Avatar</legend>
                /images/ 
                <input type="text" ng-model="avatarUrl" />
                <input type="button" value="Show avatar" ng-click="showAvatar = true" />
                <br>
                <img src="images/{{avatarUrl}}.png" title="{{name}}" alt="{{name}}" ng-show="showAvatar == true">
            </fieldset>
        </form>

        <!-- Scripts -->
        <script src="js/angular.js"></script>
    </body>
</html>