
<label>Name <input type="text" ng-model="person.name" class="form-control" /></label>
<label>Avatar 
    <select ng-model="person.image" class="form-control">
        <option value="default-avatar">Default</option>
        <option value="avatar1">Avatar 1</option>
        <option value="avatar2">Avatar 2</option>
        <option value="avatar3">Avatar 3</option>
        <option value="avatar4">Avatar 4</option>
    </select>
</label>

<img class="pull-left" width="60" src="images/{{person.image}}.png" title="{{person.name}}" alt="{{person.name}}">
<h3>{{person.name}}</h3>
<p>{{person.description}}</p>

<br>
<hr>
<br>